@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h4>Shared Weekends</h4>

<p>Shared Weekends is a free web application for exchange of ideas for weekend experiences between registered users. Users and weekends articles are rated and users receive points for each review their article gets. The top rated users each month receive prizes.</p>
