@model IList<SharedWeekends.MVC.ViewModels.LikeViewModel>
@for(int i = 0; i < Model.Count; i++)
{
    <hr>
    <div class="row">
        <div class="col-md-12">
            @Html.DisplayFor(m => m[i].Stars)
            @Model[i].Voter
            <span class="pull-right">@((int)(DateTime.Now - Model[i].CreationDate).TotalDays == 0 ? "today" : ((int)(DateTime.Now - Model[i].CreationDate).TotalDays).ToString() + " days ago")</span>
            <p>@Model[i].Comment</p>
        </div>
    </div>
}
