body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.jumbotron {
    background-image: url('slide1.jpg');
    background-position-y: -100px;
}

#weather ul{
    list-style: none;
}

#location-map{
    width: 400px;
    height: 300px;
    margin: 10px;
}

#review-form{
    display: none;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
