@model SharedWeekends.MVC.ViewModels.WeekendViewModel

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search Weekends.</h2>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                @Html.Action("GetCategories")
            </div>
        </div>
        <div class="col-md-9">
            <ul class="pager">
                <li>
                    @Ajax.ActionLink("Previous", "FilterByCategory", new { page = -1 },
                    new AjaxOptions()
                    {
                        UpdateTargetId = "main",
                        HttpMethod = "GET",
                        InsertionMode = InsertionMode.Replace
                    }, new { @class = "list-group-item" })
                </li>
                <li>
                    @Ajax.ActionLink("Next", "FilterByCategory", new { page = 1 },
                    new AjaxOptions()
                    {
                        UpdateTargetId = "main",
                        HttpMethod = "GET",
                        InsertionMode = InsertionMode.Replace
                    }, new { @class = "list-group-item" })
                </li>
            </ul>
        </div>
        <div class="col-md-9" id="main">
        @Html.Action("FilterByCategory", new { id = 0, page = 0 })
        </div>
    </div>
</div>
