@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";
}

<h2>Hi there</h2>
@(Html.Kendo().Grid((IEnumerable<SharedWeekends.MVC.ViewModels.UserViewModel>)ViewBag.Users)
.Name("grid")
.Columns(col => {
    col.Bound(u => u.Id);
    col.Bound(u => u.Username);
    col.Bound(u => u.Rating);
})
.Pageable()
.Sortable()
.Filterable()
.Groupable())

